@model CM.Models.Candidate
@{
    ViewBag.Title = "Mail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>

    @using (Html.BeginForm("MAIL", "Mail", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <form action="/action_page.php">
            <div class="text-center">
                <h2 style="font-weight:bold;">Time Send Email</h2>
            </div>
            <section class="content">

                
                <div class="row">
                    <div class="col-lg-2 col-xs-6">
                        <h3>Coursecode </h3>
                        @Html.TextBox("chude")
                    </div>
                    <div class="col-lg-3 col-xs-6">

                    </div>
                    <div class="col-lg-2 col-xs-6">
                        <h3>Giây </h3>
                        @Html.TextBox("second")
                    </div>
                    <div class="col-lg-2 col-xs-6">
                        <h3>Phút </h3>
                        @Html.TextBox("minute")
                    </div>
                    <div class="col-lg-2 col-xs-6">
                        <h3>Giờ </h3>
                        @Html.TextBox("hour")
                    </div>
                    <div class="col-lg-3 col-xs-6">

                    </div>

                </div>
                <br /><br />
                <div class="text-center ">
                    <button type="submit" class="btn btn-success">Success</button>
                </div>

            </section>


        </form>
    }
</body>
</html>



